JAVACMD="/usr/bin/java"
LS_HOME="{{ls_home}}"
LS_SETTINGS_DIR="{{ls_conf_dir}}"
LS_PIDFILE="/var/run/logstash.pid"
LS_USER="{{ls_group}}"
LS_GROUP="{{ls_group}}"
LS_GC_LOG_FILE="/var/log/logstash/gc.log"
LS_OPEN_FILES="{{ls_max_open_files}}"
LS_NICE="19"
SERVICE_NAME="logstash"
SERVICE_DESCRIPTION="logstash"
